/* ------------------------------------------------------------------------------
    PROPERTIES
------------------------------------------------------------------------------ */

:root {
    --dirty-white: #f9f9f9;
    --dark-white: #a7a9ab;
    --light-black: #221f20;
    --gray-1: #eeeeee;
    --gray-2: #e3e3e3;
}

.main_container{
    height: 100%;
    width: 100%;
    position: relative;
    border-top: 1px solid var(--light-gray);
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    outline: none;
    transition: background-color 200ms;
}
body{
    background-color: var(--dirty-white);
    color: black;
}
.ib{
    display: inline-block;
}

/* ------------------------------------------------------------------------------
    HEADER
------------------------------------------------------------------------------ */

.header_bar{
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0;
    z-index: 1000001;
    background-color: white;
    border: none;
    padding: 10px;
    border-bottom: 1px solid var(--light-gray);
    background-color: var(--dirty-white);
}
.header_bar .button{
    border: none;
    background-color: #f1f2f2;
    color: black;
}
.header_bar .button .eye_outline{
    background: transparent;
    box-shadow: none;
    border-color: var(--dark-white);
}
.header_bar .button:hover .eye_outline{
    border-width: 1px;
}
.button.logo{
    padding: 5px 20px 5px 7px;
    background: transparent;
}

/* ------------------------------------------------------------------------------
    GUIDE COVER
------------------------------------------------------------------------------ */

.guide_cover{
    margin-top: 64px;
    position: relative;
    height: 350px;
    box-sizing: border-box;
    padding-top: 100px;
    background-color: red;
    background-image: url("../media/covers/default/default-cover-0.25x.jpg");
    background-position: 80%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
.light_highlight_title{
    color: white;
    position: absolute;
    width: auto;
    bottom: 30px;
    padding-right: 60px;
    left: 0;
    margin: 0;
}

/* ------------------------------------------------------------------------------
    ASIDE
------------------------------------------------------------------------------ */

.aside{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    display: inline-block;
    border-right: 1px solid var(--dark-white);
    color: #212121;
    background-color: var(--dirty-white);
    z-index: 1000000;
    transition: left 100ms, transform 100ms;
}
.aside:hover{
    transform: translateX(5px);
}
.aside.sticky{
    top: 64px;
    position: fixed;
}
.aside.hidden{
    left: -240px;
}
.aside #handle{
    cursor: pointer;
    position: absolute;
    right: -15px;
    top:10px;
}

.aside_menu{
    padding: 20px;
}

.aside .aside_menu div{
    cursor: pointer;
    text-align: left;
    font-family: Aileron-Thin, sans-serif;
    font-size: 17px;
    margin-bottom: 3px;
    padding-left: 15px;
    position: relative;
}

.aside .aside_menu div > .n{
    /* Menu entry number */
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
}

.aside .aside_menu div:hover{
    background-color: white;
}

/* ------------------------------------------------------------------------------
    ARTICLE
------------------------------------------------------------------------------ */

.article{
    padding-left: 250px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.article.large{
    padding-left: 10px;
}

/* ------------------------------------------------------------------------------
    ARTICLE CONTENT
------------------------------------------------------------------------------ */

.article .content{
    padding: 30px 50px 50px;
    font-family: Saira-Thin, sans-serif;
    font-size: 1.3em;
}

.article .chapter{
    margin: 0 0 20px 0;
}

.article .chapter_title{
    font-family: Aileron-Regular, sans-serif;
    font-size: 22px;
    color: var(--light-black);
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased;
}

.article .content img{
    max-width: 100%;
}

.article .paragraph{
    margin-bottom: 15px;
}

/* ------------------------------------------------------------------------------
    ARTICLE IMAGES
------------------------------------------------------------------------------ */

.image_center, .image_outline{
    border-radius: 5px;
    overflow: hidden;
}
.image_center{
    margin: 15px 0;
    text-align: center;
    background-color: var(--gray-1);
}
.image_center img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.w_600{
    width: 600px;
}
.h_30{
    height: 30px;
}

/* ------------------------------------------------------------------------------
    INFO BOX
------------------------------------------------------------------------------ */

.info {
    background: rgb(255,0,50);
    background: -moz-linear-gradient(90deg, rgba(255,0,50,1) 0%, rgba(0,117,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,50,1) 0%, rgba(0,117,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,50,1) 0%, rgba(0,117,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0032",endColorstr="#0075ff",GradientType=1);
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 20px;
}
.info > div{
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    background-color: var(--dirty-white);
}
.info .paragraph{
    padding: 15px;
    margin: 0;
}
.info > div .left_image_box{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid var(--dark-white);
    padding: 15px;
}
.info > div .left_image_box>img{
    vertical-align: middle;
    display: inline-block;
}

.info .left_image_box.p200{
    width: 200px;
}
.info > div.p200{
    padding-left: 200px;
}

/* Break info */
.info.break > div{
    padding: 0;
}
.info.break .left_image_box{
    width: 100%;
    position: relative;
    display: block;
    border-right: none;
    border-bottom: 1px solid var(--dark-white);
}

/* ------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------ */

.outline_button{
    border: 1px solid var(--light-gray);
    line-height: 1em;
    color: black;
    padding: 7px 10px;
    margin-bottom: 10px
}
.outline_button > img{
    vertical-align: middle;
    margin-right: 5px;
}
.outline_button:hover{
    background-color: white;
}
img.icon_20{
    height: 18px;
}

/* ------------------------------------------------------------------------------
    ELEMENTS
------------------------------------------------------------------------------ */

/* list point */

.list_box{
    position: relative;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 3px;
}
.list_box > .list_point{
    position: absolute;
    left: 0;
    top: 7px;
}

.list_point{
    background-color: #bfbfbf;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 3px 1px;
}

/* simple mark */

.mark {
    display: inline-block;
    background-color: var(--gray-1);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 5px;
    position: relative;
}

/* interactive mark */

.interactive_mark {
    display: inline-block;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 5px;
    position: relative;
}
.interactive_mark.force_hover{
    border-radius: 3px 3px 0 0;
    background-color: white;
}
.interactive_mark .interactive_content{
    position: absolute;
    width: 200px;
    height: auto;
    top: 100%;
    left: -1px;
    background-color: white;
    z-index: 1000000;
    box-sizing: border-box;
    border: 1px solid var(--dark-white);
    border-radius: 0 3px 3px;
    overflow: hidden;
    cursor: default;
    opacity: 0;
    transition: opacity 300ms, display 300ms;
    display: none;
}
.interactive_mark .interactive_content.w_100{
    width: 100px;
}
.interactive_mark .interactive_content.left{
    right: -1px;
    left: auto;
    border-radius: 3px 0 3px 3px;
}
.interactive_mark.force_hover .interactive_content{
    opacity: 1;
    display: block;
}
.interactive_mark .interactive_content img{
    width: 100%;
    margin: 0;
    vertical-align: middle;
}
.interactive_mark .interactive_content div{
    padding: 10px;
}

/* ------------------------------------------------------------------------------
    UNDERLINE
------------------------------------------------------------------------------ */

.underline{
    cursor: pointer;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--gray-2) 10.1%, var(--gray-2) 10.1% 25%, rgba(0,0,0,0) 25.1%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--gray-2) 10.1%, var(--gray-2) 25%, rgba(0,0,0,0) 25.1%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--gray-2) 10.1%, var(--gray-2) 25%, rgba(0,0,0,0) 25.1%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.underline:hover{
    cursor: pointer;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--dark-white) 10.1%, var(--dark-white) 10.1% 25%, rgba(0,0,0,0) 25.1%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--dark-white) 10.1%, var(--dark-white) 25%, rgba(0,0,0,0) 25.1%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 10%, var(--dark-white) 10.1%, var(--dark-white) 25%, rgba(0,0,0,0) 25.1%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

/* ------------------------------------------------------------------------------
    SPACERS
------------------------------------------------------------------------------ */

.hor_s_5{
    display: inline-block;
    width: 5px;
}

/* ------------------------------------------------------------------------------
    MEDIA RULES
------------------------------------------------------------------------------ */


@media only screen and (max-width: 530px) {
    .article .content{
        padding: 17px 25px;
    }
    .paragraph{
        font-size: 15px;
    }
    .article .chapter_title{
        font-size: 20px;
    }
    .outline_button{
        font-size: 15px;
    }
}
@media only screen and (max-width: 620px) {
    .header_bar{
        width: auto;
        right: 0;
        border-radius: 0;
    }
}