
body{
    min-width: 370px;
    background-color: black;
    color: white;
    margin: 0;
}

.center_h_v{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------------------------
    INTERACTIVE ELEMENTS
------------------------------------------------------------------------------ */

a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.justified_buttons p , .justified_buttons a{
    text-align:justify;
    display: block;
    -webkit-font-smoothing: antialiased;
    font-family: 'Krub', sans-serif;
    width: inherit;
    cursor: pointer;
    color: rgb(232, 232, 232);
    letter-spacing: 0;
    margin: 0;
}

.justified_buttons p:hover{
    color: #fffde6;
}

.justified_buttons p:after, .justified_buttons a:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/* ------------------------------------------------------------------------------
    ALIGNMENT ELEMENTS
------------------------------------------------------------------------------ */

.center_left{
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}
.center_left:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
    background-color: transparent;
}
.center_left > div{
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
}
.center_span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------
    TEXT STYLES
------------------------------------------------------------------------------ */

.title{
    font-family: AppleGaramond-Regular, serif;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.3pt;
    display: inline-block;
}

.title_light{
    font-family: AppleGaramond-Light, serif;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.3pt;
    display: inline-block;
}

.paragraph{
    font-family: 'Krub', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* ------------------------------------------------------------------------------
    SPACE ELEMENTS
------------------------------------------------------------------------------ */

/* vertical spaces */
.v_30, .v_20, .v_40, .v_100{
    display: block;
}
.v_100{
    height: 100px;
}
.v_40{
    height: 40px;
}
.v_30{
    height: 30px;
}
.v_20{
    height: 20px;
}

/* horizontal spaces */
.h_5, .h_30, .h_20, .h_40, .h_100{
    display: inline-block;
}
.h_100{
    width: 100px;
}
.h_40{
    width: 40px;
}
.h_30{
    width: 30px;
}
.h_20{
    width: 20px;
}
.h_5{
    width: 5px;
}