<nav class="navbar navbar-expand my-2" aria-label="Second navbar example">
  <div class="container-fluid p-0">
    <a class="navbar-brand main-serif" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        {% for item in site.data.navigation %}
          <li class="nav-item">
            <a class="nav-link {% if page.url == item.link %} active {% endif %}" href="{{ item.link }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>