<nav class="navbar navbar-expand my-2 d-print-none" aria-label="Second navbar example">
  <div class="container-fluid p-0 align-items-baseline">
    <a class="navbar-brand main-serif" href="/">{{ site.title }}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        {% for item in site.data.navigation %}
          <li class="nav-item">
            <a class="nav-link {% if page.url == item.link %} active {% endif %}" href="{{ item.link }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>