/* ------------------------------------------------------------------------------
    POSTO
------------------------------------------------------------------------------ */

@font-face {
    src: url('./posto/ProstoOne-Regular.ttf');
    font-family: Posto-Regular;
}

/* ------------------------------------------------------------------------------
    SAIRA
------------------------------------------------------------------------------ */

@font-face {
    src: url('./saira/Saira-Light.ttf');
    font-family: Saira-Light;
}
@font-face {
    src: url('./saira/Saira-Thin.ttf');
    font-family: Saira-Thin;
}