@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/*
    'IBM Plex Sans'
    'Inter'
    'Libre Franklin'
    'Libre Baskerville'
    'Fraunces'
*/
$font-family-base: 'IBM Plex Sans';

/* light font weight for titles */
$headings-font-weight: 300;
$btn-font-weight: 300;

@import 'bootstrap/bootstrap';
@import 'icons/bootstrap-icons';

:root {
    --bs-font-monospace: 'Fira Code', monospace;;
}

.main-serif {
    font-family: 'Fraunces', $font-family-sans-serif; 
}

.main-container {
    max-width: 600px;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
}

.link-empty, .link-empty:link, .link-empty:hover {
    @extend .link-unstyled;
    text-decoration: none;
}

.border.bs-enhance {

    transition: border-left-width 0.2s ease-in-out;
}

.border.bs-enhance:hover {

    border-left-width: 5px !important;
}

.border-bottom.bs-enhance {

    transition: border-bottom-width 0.2s ease-in-out;
}

.border-bottom.bs-enhance:hover {

    border-bottom-width: 5px !important;
}