/* ------------------------------------------------------------------------------
    APPLE GARAMOND
------------------------------------------------------------------------------ */

@font-face {
    src: url('./apple-garamond/AppleGaramond.ttf');
    font-family: AppleGaramond-Regular;
}

@font-face {
    src: url('./apple-garamond/AppleGaramond-Light.ttf');
    font-family: AppleGaramond-Light;
}