<!doctype html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery-3.6.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWFVCLETEX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-EWFVCLETEX');
    </script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="container-sm fw-light bg-body main-container">
      {% include navigation.html %}
      {{ content }}
    </div>
  </body>
</html>