---
layout: default
---

<h1 class="gruvbox">{{ page.title }}</h1>
<p class="mb-4">{{ page.date | date_to_string }}</p>

{{ content }}

<!-- MathJax start -->

<script>
    MathJax = {
        tex: {
            tags: 'ams'
        },
        chtml: {
            matchFontHeight: false
        }
    };
</script>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- MathJax end -->

<!-- HighlightJs start -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

<!-- HighlightJs end -->

<!-- codequote start -->
<script src="/assets/js/codequote.js"></script>
<script>codequote.all(() => {
    hljs.highlightAll();
})</script>
<!-- codequote end -->
